[submodule "health_necessary_time_code"]
	path = health_necessary_time_code
	url = https://github.com/thetoblin/health_necessary_time_code
	branch = main
[submodule "data"]
	path = data
	url = https://github.com/thetoblin/data
	branch = main
